// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

$grey: #efefef;

body {
    background-color: $grey;
    background-image: url('../img/header-background.jpg');
    background-repeat: repeat-x;
    background-position: top;
}

nav {
    color: #000;
    background-color: #fff;
    padding: 4px 0 9px 9px; /* .sub-nav has some stupid margins */
    border-bottom: 1px solid $grey;

    dl {
        z-index: 30;
        background-color: #fff;
        max-width: 627px; /* 940 * (2/3) */
        margin-bottom: 0;
        width: 100%;

        &.sub-nav {
            width: 100%;
            padding-top: 15px;
            border-bottom: 1px solid $grey;
        }
    }

    dd {
        display: inline;

        &:first-child {
            margin-left: 0;
        }
    }

    li {
        display: inline;

        &.active {
            font-weight: bold;
        }
    }
}

header {
    @media(max-width: 767px) {
        padding-top: 30px;
        text-align: center;

        h1 {
            font-size: 170%;
        }

        h3 {
            font-size: 130%;
        }
    }
    @media(min-width: 768px) {
        padding-top: 70px;
    }
}

h1, h3 {
    color: #dedede;
    text-shadow: 1px 1px #222;
}

h6 {
    margin-bottom: 0;
}

.row {
    width: 940px;
}

#logo-box {
    @media(max-width: 767px) {
        img {
            height: 120px;
        }
    }
}

#sidebar {
    background-color: #fff;
    border-left: 1px solid $grey;
}
